.goodBar{
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}
.goodBar img{
    height: 300px;
    width: 300px;
    padding-bottom: 30px;
}
.goodInfo{
    height: 300px;
    width: 50%;
    margin-left: 5%;
    margin-top: 30px;
    flex-direction: column;
}
.goodName{
    letter-spacing: 4px;
    font-size: 30px;
    line-height: 200%;
    font-weight: bold;
}
.goodTag{
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 200%;
}
.goodPrice{
    letter-spacing: 3px;
    font-size: 25px;
    line-height: 200%;
    color: red;
}
.goodProvider{
    letter-spacing: 1px;
    font-size: 10px;
    line-height: 300%;
    display: flex;
    flex-direction: row;
}
.goodProviderLink{
    letter-spacing: 1px;
    font-size: 10px;
    line-height: 300%;
    color: black;
}
.goodProviderLink:hover{
    cursor: pointer;
}