.bg{
    width: 100%;
    height: 1000px;
    position: fixed;
    top: 70px;
    left: 200px;
    background-image: url("../img/login.jpg");
    overflow: hidden;
}


.returnTopBtn{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: whitesmoke;
    position: absolute;
    top: 45%;
    left: 80%;
    margin-top: 10%;
    cursor: pointer;
}

.reportBtn{
    position: absolute;
    top: 120%;
    left: -6px;
    width: 40px;
    height: 30px;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.reportBtn:hover{
    background-color: rgba(0,0,0,0.2);
}

.forumContent{
    width: 70%;
    height: auto;
    position: relative;
    background-color: rgba(255,255,255,0.2);
    min-height: 700px;
    overflow: hidden;
}



/*标题栏---------------------------------*/
.forumTitle{
    width: 100%;
    height: 80px;
    position: relative;
    display: flex;
    flex-direction: row;
    padding-top: 5%;
}

@keyframes forumTitleAnimation {
    40%{
        margin-left: 42%;
        background-image: url("../img/forumTitleOne.png");
    }
    65%{
        margin-left: 42%;
        background-image: url("../img/forumTitleTwo.png");
    }
    90%{
        margin-left: 42%;
        background-image: url("../img/forumTitleOne.png");
    }
    100%{
        margin-left: 100%;
    }
}

.forumTitle_IMG{
    margin-left: -20%;
    width: 64px;
    height: 64px;
    background-image: url("../img/forumTitleOne.png");
    animation: forumTitleAnimation 10s infinite;
}





/*列表-------------------------------*/
.forumList{
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.forumItem{
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    line-height: 200px;
    margin-top: 3%;
    border-radius: 3%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
}

.itemMain{
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*头部栏----------------------------------------------------------*/
.itemMain_header{
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.itemMain_header_IMG{
    position: absolute;
    width: 50%;
    left: 5%;
    top: 25%;
    line-height: 50px;
}

/*移动到图标上抖动*/

@keyframes moveUser {
    25%{
        margin-top: -2%;
    }
    100%{
        margin-top: 0%;
    }
}

.itemMain_header_IMG:hover{
    animation: moveUser 2s infinite;
}

.itemMain_header_details{
    position: absolute;
    width: 50%;
    height: 100%;
    left: 17%;
    display: flex;
    flex-direction: column;
    line-height: 50px;
}

.itemMain_header_report{
    position: absolute;
    height: 100%;
    top: 50%;
    right: 3%;
    line-height: 50px;
    border-radius: 20%;
}

.itemMain_header_report_btn:hover{

}

.itemMain_header_report:hover{
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
}

.itemMain_header_details_name{
    position: absolute;
    font-size: 20px;
}

.itemMain_header_details_date{
    position: absolute;
    top: 50%;
    font-size: 15px;
    color: dimgrey;
}


/*主体栏----------------------------*/
.itemMain_body{
    position: relative;
    width: 50%;
    height: auto;
    left: 16.5%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}
/*帖子主体-----------------------------*/
.itemMain_body_content{
    font-size: 20px;
    font-family: 仿宋,serif;
    text-indent: 1.5em;
    line-height: 30px;
}

.itemMain_body_IMG{
    margin-top: 2%;
    width: 500px;
    height: auto;
    min-height: 100px;
    line-height: 19px;
}

.itemMain_body_IMG_singleIMG{
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.itemMain_body_IMG_singleIMG.active{
    width: 500px;
    height: 500px;
}

/*帖子页脚-------------------------------*/

.itemMainFooter{
    position: relative;
    display: flex;
    flex-direction: row;
    line-height: 30px;
    left: 15%;
    top: 10px;
    margin-bottom: 2%;
}

.itemMainFooter div{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    transition: 0.2s ease-in-out;
}

.itemMainFooter div:hover{
    border-radius: 10%;
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
}
/*评论区-----------------------------------------------------------------*/
.itemCritics{
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
}

.itemCritics_Form{
    position: relative;
    height: 100px;
    line-height: 100px;
}

.itemCritics_Form_user{
    position: absolute;
    left: 10%;
}

.itemCritics_Form textarea{
    position: absolute;
    left: 18%;
    border: 1px dotted grey;
    border-radius: 5px;
    width: 60%;
    resize: none;
    padding: 2% 0 0 3%;

}

.commentSubmit{
    position: absolute;
    right: 8%;
    width: 10%;
    height: 77%;
    background-color: rgba(100,149,237,1);
    border: none;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    color: whitesmoke;
    font-style: italic;
    font-size: 15px;
    font-family: 幼圆,serif;
}

.commentSubmit:hover{
    border: 1px solid darkslateblue;
    background-color: rgba(100,149,237,0.5);
}

/*评论栏----------------------------------------*/

.itemCritics_criticsList{
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.itemCritics_criticsList_item{
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
}


.itemCritics_criticsList_item_user{
    width: 20%;
    line-height: 100px;
    position: relative;
    left: 10%;
}

.itemCritics_criticsList_item_user:hover{
    animation: moveUser 2s infinite;
}

.itemCritics_criticsList_item_details{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.itemCritics_criticsList_item_name{
    line-height: 20px;
    position: relative;
    top: 5%;
    font-size: 17px;
}

.itemCritics_criticsList_item_content{
    width: 80%;
    top:20%;
    height: 100px;
    line-height: 17px;
    position: relative;
    font-size: 15px;
    text-indent: 2em;
}

.itemCritics_criticsList_item_foot{
    width: 100%;
    line-height: 30px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.itemCritics_criticsList_item_foot div{
    position: relative;
    display: flex;
    flex-direction: row;
    transition: 0.2s ease-in-out;
}

.itemCritics_criticsList_item_foot_like{
    margin-left: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.itemCritics_criticsList_item_foot_dislike{
    margin-left: 20px;
    border-radius: 10px;
    cursor: pointer;
}


.itemCritics_criticsList_item_foot_report{
    margin-left: 50%;
    border-radius: 10px;
    cursor: pointer;
}

.itemCritics_criticsList_item_foot_like:hover{
    background-color: rgba(0,0,0,0.2);
}
.itemCritics_criticsList_item_foot_dislike:hover{
    background-color: rgba(0,0,0,0.2);
}
.itemCritics_criticsList_item_foot_report:hover{
    background-color: rgba(0,0,0,0.2);
}

.criticsRenewIcon{
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



/*发帖---------------------------------*/

.forumUpload{
    margin-top: 50px;
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
    border-radius: 20px;
}

.forumUpload_Body{
    width: 100%;
    height: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.forumUpload_Body_Input{
    font-size: 20px;
    font-weight: bold;
    color: grey;
    border: none;
    background-color: rgba(0,0,0,5%);
    border-radius: 10px;
    width: 90%;
    left: 5%;
    position: absolute;
    resize: none;
    line-height: 80%;
    align-items: center;
    text-indent: 2em;
    padding-top: 20px;
    outline: none;
}

.forumUpload_Body_Submit{
    background-color: rgba(56, 56, 245, 0.8);
    border: none;
    border-radius: 5px;
    position: absolute;
    top:115px;
    right: 10px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    color: whitesmoke;
    font-family: 幼圆,serif;
}

.forumUpload_Body_Submit:hover{
    opacity: 0.8;
}

.forumUpload_Footer{
    width: 100%;
    height: 30%;
}

.forumUpload_Footer_Form{
    width: 5%;
    position: relative;
    left: 4%;
    margin-top: 15px;
}

.forumUpload_Footer_IMG{
    width: 48px;
    height: 48px;
    position: relative;
}

.forumUpload_Footer_Form:hover{
    filter: brightness(0.8);
}

.forumUpload_Footer_input{
    width: 48px;
    height: 48px;
    position: absolute;
    z-index: 999;
    font-size: 30px;
    opacity: 0;
    cursor: pointer;
}










