
/*轮播图---------------------------------*/
.carousel{
    margin: 2% 0;
    width: 60%;
    height: 350px;
    position: relative;
    transition: 0.6s ease-in-out;
}

.loopList{
    width: 100%;
    height: 100%;
    margin: 0 0;
    padding: 0 0;
    list-style: none;
    position: relative;
}

.loopItem{
    width: 60%;
    height: 100%;
    left: 20%;
    opacity: 0;
    position: absolute;
    background-size: cover;
    border-radius: 10px;
    z-index: -1;
}

.loopItem:nth-child(1){
    background-image: url("../img/login.jpg");
}

.loopItem:nth-child(2){
    background-image: url("../img/demo1.jpg");
}

.loopItem:nth-child(3){
    background-image: url("../img/demo2.jpg");
}

.loopItem:nth-child(4){
    background-image: url("../img/demo3.jpg");
}

.loopItem:nth-child(5){
    background-image: url("../img/demo4.jpg");
}

.loopItem.active{
    opacity: 1;
    z-index: 3;
}
.loopItem.active:hover{
    cursor: pointer;
}
.loopItem.pre{
    opacity: 0.3;
    left: 0;
}
.loopItem.next{
    opacity: 0.3;
    left: 40%;
}

/*按钮------------------*/
.loopBut{
    width: 100%;
    height: 25px;
    bottom: 200px;
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 5;
}

.loopBut img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#leftBtn{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 12%;
}

#rightBtn{
    position: absolute;
    width: 40px;
    height: 40px;
    right: 12%;
}

/*计数器----------------*/

.pointList{
    width: 20%;
    display: flex;
    flex-direction: row;
    list-style: none;
    bottom: 15%;
    position: relative;
    margin: 0 auto;
    transition: 0.6s ease-in-out;
    z-index: 3;
}

.loopPoint{
    width: 10px;
    height: 10px;
    background-color: #aaaaaa;
    border-radius: 50%;
    margin-right: 10%;
    cursor: pointer;
}

.loopPoint.active{
    background-color: #FFFFFF;
    scale: 150%;
}

.categoryBar{
    width: 100%;
    height: 100px;
    list-style: none;
    margin: 0 0 30px 0;
    padding: 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.categoryBar li{
    height: 100px;
    width: 80px;
    display: flex;
    margin: auto 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.categoryBar li img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.goodBlock{
    height: auto;
    width: 1250px;
    margin: 0 0;
    padding: 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.goodBar{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}


.goodItem{
    height: 100%;
    width: 300px;
    margin-left: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px #00000024;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}
.goodItem img{
    height: 160px;
    width: 160px;
    margin: 20px 10px;
    border-radius: 10px;
}

.goodInfo{
    height: 160px;
    width: 100px;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tag{
    height: auto;
    width: 100%;
    color: #999999;
    line-height: 300%;
    text-align: center;
    font-size: 15px;
}

.price{
    color: red;
    font-size: 25px;
    font-weight: bold;
    height: auto;
    width: 100%;
    text-align: center;
    line-height: 200%;
}

.details{
    background-color: #FFFFFF;
    border-radius: 5px;
    font-size: small;
    border-width: thin;
    cursor: pointer;
}

