
/*轮播图---------------------------------*/
.carousel{
    margin: 2% 0;
    width: 60%;
    height: 350px;
    position: relative;
    transition: 0.6s ease-in-out;
}

.loopList{
    width: 100%;
    height: 100%;
    margin: 0 0;
    padding: 0 0;
    list-style: none;
    position: relative;
}

.loopItem{
    width: 60%;
    height: 100%;
    left: 20%;
    opacity: 0;
    position: absolute;
    background-size: cover;
    z-index: -1;
}

.loopItem:nth-child(1){
    background-image: url("../img/login.jpg");
}

.loopItem:nth-child(2){
    background-image: url("../img/demo1.jpg");
}

.loopItem:nth-child(3){
    background-image: url("../img/demo2.jpg");
}

.loopItem:nth-child(4){
    background-image: url("../img/demo3.jpg");
}

.loopItem:nth-child(5){
    background-image: url("../img/demo4.jpg");
}

.loopItem.active{
    opacity: 1;
    z-index: 3;
}
.loopItem.active:hover{
    cursor: pointer;
}
.loopItem.pre{
    opacity: 0.3;
    left: 0;
}
.loopItem.next{
    opacity: 0.3;
    left: 40%;
}

/*按钮------------------*/
.loopBut{
    width: 100%;
    height: 25px;
    bottom: 200px;
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 5;
}

.loopBut img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#leftBtn{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 10%;
}

#rightBtn{
    position: absolute;
    width: 25px;
    height: 25px;
    right: 10%;
}

/*计数器----------------*/

.pointList{
    width: 20%;
    display: flex;
    flex-direction: row;
    list-style: none;
    bottom: 15%;
    position: relative;
    margin: 0 auto;
    transition: 0.6s ease-in-out;
    z-index: 3;
}

.loopPoint{
    width: 10px;
    height: 10px;
    background-color: #aaaaaa;
    border-radius: 50%;
    margin-right: 10%;
    cursor: pointer;
}

.loopPoint.active{
    background-color: #FFFFFF;
    scale: 150%;
}

/*!*分类栏-----------------------------------------------------------------*!*/

/*.category{*/
/*    width: 90%;*/
/*    height: 7%;*/
/*    position: relative;*/
/*    top:5%;*/
/*    background-color: cornflowerblue;*/
/*    border-radius: 20px;*/
/*    overflow: hidden;*/
/*}*/

/*.cateList{*/
/*    width: 9999px;*/
/*    list-style: none;*/
/*    position: absolute;*/
/*    top: 20%;*/
/*}*/

/*.cateItem{*/
/*    float: left;*/
/*    margin-left: 0.3%;*/
/*}*/

/*.cateItem img{*/
/*    width: 30%;*/
/*    height: 30%;*/
/*    border-radius: 100%;*/
/*    border: 2px solid antiquewhite;*/
/*}*/

/*.cateItem h3{*/
/*    font-size: 20px;*/
/*    font-weight: bold;*/
/*    font-family: 方正舒体, serif;*/
/*    text-indent: 2em;*/
/*}*/

/*.cateBtn{*/
/*    position: relative;*/
/*    top: 25%;*/
/*    cursor: pointer;*/
/*}*/

/*.cateBtn img{*/
/*    width: 100px;*/
/*    height: 100px;*/
/*}*/

/*.leftCateBtn{*/
/*    opacity: 0;*/
/*    float: left;*/
/*}*/

/*.rightCateBtn{*/
/*    float: right;*/
/*}*/

/*!*商品栏------------------------------------*!*/

/*.goodsLayer{*/
/*    position: relative;*/
/*    top: 7%;*/
/*    width: 95%;*/
/*    height: 66%;*/
/*    background-color: lightcyan;*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    align-content: flex-start;*/
/*    border-radius: 2%;*/
/*}*/

/*.goodItem{*/
/*    margin-top: 1%;*/
/*    width: 32%;*/
/*    height: 15%;*/
/*    border-radius: 5%;*/
/*    background-color: darkslateblue;*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*}*/


/*!*商品图片------------------------------*!*/
/*.goodImg img{*/
/*    position: absolute;*/
/*    width: 45%;*/
/*    height: 80%;*/
/*    left: 5%;*/
/*    top: 10%;*/
/*    border-radius: 10%;*/
/*    border: 4px solid rebeccapurple;*/
/*}*/
/*!*商品名称-------------------------------*!*/
/*.goodName{*/
/*    position: absolute;*/
/*    width: 20%;*/
/*    height: 10%;*/
/*    left: 70%;*/
/*    top: 15%;*/
/*    font-size: 22px;*/
/*    color: whitesmoke;*/
/*}*/

/*!*两个Tag--------------------------------*!*/
/*.goodInfo{*/
/*    position: absolute;*/
/*    width: 35%;*/
/*    height: 10%;*/
/*    left: 60%;*/
/*    top: 30%;*/
/*}*/

/*.goodInfoTags{*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    list-style: none;*/
/*}*/

/*.goodInfoTags li{*/
/*    text-align: center;*/
/*    font-size: 15px;*/
/*    color: grey;*/
/*}*/

/*!*商品价格*!*/

/*.goodPrice{*/
/*    position: absolute;*/
/*    width: 40%;*/
/*    height: 15%;*/
/*    top: 50%;*/
/*    left: 65%;*/
/*    color: whitesmoke;*/
/*    font-size: 22px;*/
/*}*/

/*!*商品*!*/

/*.goodFoot{*/
/*    position: absolute;*/
/*    width: 30%;*/
/*    height: 10%;*/
/*    top:80%;*/
/*    left: 85%;*/
/*    font-size: 20px;*/
/*    color: whitesmoke;*/
/*}*/



/*!*翻页工具------------------------------*!*/
/*.pageSwitch{*/
/*    width: 5%;*/
/*    height: 3%;*/
/*    position: relative;*/
/*    top: 8%;*/
/*    border: 1px solid green;*/
/*    margin-left: 45%;*/
/*    align-items: center;*/
/*}*/

/*.pageSwitch img{*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;;*/
/*}*/

/*.pageEnd{*/
/*    opacity: 0;*/
/*}*/





