*{
    transition: 0.3s ease-in-out;
}
html, body {
    height: 100%;
    width: auto;
    margin: 0;
    padding: 0;
    z-index: 0;
}
input {
    outline: none;
}
.article-title {
    letter-spacing: 4px;
    font-size: 30px;
    line-height: 400%;
    font-weight: bold;
}
.article-subtitle {
    letter-spacing: 3px;
    font-size: 20px;
}
.btn {
    color: #FFFFFF;
    background-color: #9f9eff;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: #9f9eff;
    cursor: pointer;
}
/*公用组件置于universal中*/
.headBar{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-content: center;
    background-color: #FFFFFF;
    /*设置始终为头部栏*/
    position: fixed;
    z-index: 12;
    box-shadow: 0 4px 10px #00000024;
}
.logo{
    height: 100%;
    width: 360px;
    margin: auto 10px;
}
.logo img{
    height: 70px;
    width: 360px;
}
.logo:hover{
    cursor: pointer;
}
.searchBar{
    width: 15%;
    min-width: 300px;
    height: 50%;
    margin: auto 0;
    display: flex;
    flex-direction: row;
    background-color: #0000000a;
    border: white;
    border-radius: 10px;
}
.searchBar input{
    width: 100%;
    height: 100%;
    font-size: 15px;
    padding: 0 0 0 3%;
    background-color: #FFFFFF00;
    border: #FFFFFF00;
}
.searchBar img{
    height: 30px;
    width: 30px;
    margin: auto 5px;
    background-color: #00000000;
    border-radius: 10px;
}
.searchBar img:hover{
    cursor: pointer;
}
.userBox{
    width: 50px;
    height: 70px;
    margin: 0 60px;
    display: flex;
    flex-direction: column;
    align-content: center;
    z-index: -1;
}
.avator{
    /*确定不管用户如何缩放页面都不改变大小的才用像素做单位*/
    height: 50px;
    width: 50px;
    margin: 10px 0;
    display: flex;
    align-content: center;
    border-radius: 50%;
}
.avator img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.avator img:hover{
    cursor: pointer;
}
.navBar{
    height: 100%;
    width: 200px;
    box-shadow: 0 4px 10px #00000024;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-content: center;
    z-index: 10;
    background-color: white;
}
.optionBox{
    height: 100px;
    width: 100%;
    font-size: 15px;
    letter-spacing: 5px;
    display: flex;
    flex-direction: row;
}
.optionBox:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
}
.optionBox span{
    margin: auto 0;
}
.optionBox img{
    margin: auto 20%;
    width: 30px;
    height: 30px;
}

.optionBox.active{
    background-color: rgba(0,0,0,0.2);
    color: mediumpurple;
}

.dropDown {
    height: 350px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px #00000024;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: -100px;
    z-index: -1;
}
.settingBar{
    width: 30%;
    min-width: 150px;
    margin: auto 0;
}
.settingBar ul{
    display: flex;
    flex-direction: row;
    align-content: center;
    list-style: none;
}
.settingBar ul li img{
    margin: auto 15px;
    height: 20px;
    width: 20px;
}
.settingBar ul li img:hover{
    cursor: pointer;
}
.container{
    width: calc(100% - 200px);
    min-width: 1400px;
    height: auto;
    position: absolute;
    background-color: #eeeeee40;
    top: 70px;
    left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#music{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.saying{
    width: 100%;
    height: 10%;
    font-size: 12px;
    color: grey;
    text-align: center;
}
.dropDownBtn{
    width: 80%;
    height: 15%;
    background-color: #ffffff;
    border-width: 0;
    font-size: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2.5% auto;
}
.dropDownBtn:hover{
    background-color: #00000014;
    cursor: pointer;
}
.dropDownBtn img{
    height: 25px;
    width: 28px;
    margin-right: 10px;
}

@keyframes rotate{
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}

.renewIcon{
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    
}

.renewIcon img{
    height: 50px;
    animation: rotate 6s infinite;
    margin: 0 auto;
}


/* 上传图片*/
.uploadForm{
    margin: 0 auto;
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.uploadForm_Head{
    display: flex;
    padding: 10px 10px;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.inputButton{
    opacity: 0;
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
}

.inputButton_IMG{
    margin: 10%;
    width: 60px;
    height: 60px;
}

.submitButton{
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: cornflowerblue;
    transition: 0.6s ease-in-out;
}

.submitButton:hover{
    background-color: rgba(100, 149, 237, 80%);
}

.uploadIMG{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.singleIMG{
    width: 25%;
    margin: 1% 0 0 3%;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.uploadContent{
    margin: 2% auto 0;
    font-size: 20px;
    font-weight: bold;
    color: grey;
    border: none;
    background-color: rgba(0,0,0,5%);
    border-radius: 10px;
    width: 90%;
    resize: none;
    line-height: 80%;
    align-items: center;
    text-indent: 2em;
    padding-top: 20px;
    outline: none;
}