html, body {
    height: 100%;
    width: auto;
    margin: 0;
    padding: 0;
}
input {
    outline: none;
}
.article-title {
    letter-spacing: 4px;
    font-size: 30px;
    line-height: 400%;
    font-weight: bold;
}
.article-subtitle {
    letter-spacing: 3px;
    font-size: 20px;
}
.btn {
    color: #FFFFFF;
    background-color: #9f9eff;
    min-width: 120px;
    border: #9f9eff;
}
.btn:hover {
    cursor: pointer;
}
/*公用组件置于universal中*/
.headBar{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-content: center;
    background: linear-gradient(to right, cornflowerblue, #FFFFFF);
    /*设置始终为头部栏*/
    position: fixed;
    z-index: 1024;
    box-shadow: 0 2px 4px #00000024;
    overflow: hidden;
}
.logo{
    width: 20%;
    /*使用百分比设置宽高度以自适应*/
    letter-spacing: 4px;
    font-size: 30px;
    color: #FFFFFF;
    margin: auto 0;
    text-align: center;
    font-family: "华文新魏";
}
.searchBar{
    width: 20%;
    height: 50%;
    margin: auto 0;
}
.searchBar input{
    width: 100%;
    height: 100%;
    font-size: 15px;
    background-color: white;
    padding: 0 0 0 3%;
    border: white;
    border-radius: 10px;
}
.avator{
    /*确定不管用户如何缩放页面都不改变大小的才用像素做单位*/
    height: 50px;
    width: 50px;
    background-color: white;
    margin: 10px auto;
    display: flex;
    align-content: center;
    border-radius: 50%;
}