.uploadBar{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: 50px;
    justify-content: left;
    align-items: left;
    text-align: center;
}
.uploadInput{
    height: auto;
    margin-left: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    display: flex;
    flex-direction: row;
}
.uploadInput div{
    font-size: 20px;
    text-align: center;
    line-height: 200%;
}
.uploadInput input{
    width: 50%;
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid mediumpurple;
    margin-right: 30px;
}
select{
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid;
    margin-right: 30px;
    border-color: mediumpurple;
}
.uploadInput img{
    height: 150px;
    width: 150px;
    padding-left: 20px;
}
.uploadPic img{
    cursor: pointer;
}
.uploadPic input{
    position: absolute;
    margin-left: -150px;
}
#cover{
    height: 150px;
    width: 150px;
}
#pic{
    height: 150px;
    width: 150px;
}
#upl_cover{
    height: 150px;
    width: 150px;
}
#upl_pic{
    height: 150px;
    width: 150px;
}