.uploadBar{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: 50px;
    justify-content: left;
    align-items: left;
}
.uploadInput{
    height: 40px;
    margin-left: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    display: flex;
    flex-direction: row;
}
.uploadInput div{
    font-size: 20px;
    padding-right: 30px;
    text-align: center;
    line-height: 200%;
}
.uploadInput input{
    width: 50%;
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid mediumpurple;
}