<!DOCTYPE html>
<html lang = "en">
<!--控制缩进-->
    <head>
        <meta charset = "UTF-8">

        <title>商店开张，来看看货(゜-゜)つロ</title>


        <link rel = "stylesheet" type = "text/css" href = "/css/universal.css">
        <link rel = "stylesheet" type = "text/css" href = "/css/detail.css">
    </head>
    <body>

        <div class="headBar">
            <div class="logo" onclick="jumpLocation('/index')">
                <img src="/img/logo.png"/>
            </div>
            <form class="searchBar">
                <input type="text" placeholder="翻翻集市里都有些什么叭~" onfocus="changeSearch(2)" onblur="changeSearch(3)"/>
                <img src="/img/searchIcon.png" onmouseover="changeSearch(0)" onmouseleave="changeSearch(1)" onclick="jumpLocation('/undone',this)"/>
            </form>
            <!--预留给附加功能-->
            <div class="settingBar">
                <ul>
                    <li onclick="jumpLocation('/usercenter')"><img src="/img/setting.png"/></li>
                    <li><a href="https://github.com/KYCoraxxx/NJU-SE-Internet-Computation-Project" target="_blank"><img src="/img/link.png"/></a><li>
                    <li onclick="changeMusic()"><img src="/img/music.png"/></li>
                </ul>
            </div>
            <div class="userBox" onmouseleave="avatorScaler('50px')">
                <div class="avator">
                    <img src="/img/defaultUser.png" onmouseover="avatorScaler('100px')">
                </div>
            </div>
            <!--预留给附加功能（如发布商品等）-->
            <div style="width: 280px; display: flex; align-content: center">
                <form style="height: 40px; width: 120px; margin: auto auto;">
                    <input type="button" value="上架商品" class="btn" style="background-color: deeppink; font-weight: bold;" onclick="jumpLocation('/upload')"/>
                </form>
            </div>
        </div>
    
        <div class="navBar">
            <div style="height: 70px"></div>
            <div class="optionBox" onclick="jumpLocation('/index',this)">
                <img src="/img/homeIcon.png"/>
                <span>主页</span>
            </div>
            <div class="optionBox" onclick="jumpLocation('/forum',this)">
                <img src="/img/discussIcon.png"/>
                <span style="color: mediumpurple">灌水</span>
            </div>
            <div class="optionBox" onclick="jumpLocation('/help',this)">
                <img src="/img/helpIcon.png" >
                <span>帮助</span>
            </div>
            <div class="optionBox" onclick="jumpLocation('/undone',this)">
                <img src="/img/fireIcon.png" >
                <span>热门</span>
            </div>
        </div>

        <div class = "container">
            <div class = "goodBar">
                <div class = "goodCover"></div>
                <div class = "goodInfo">
                    <!--测试后可删除默认内容-->
                    <div class = "goodName"></div>
                    <div class = "goodTag"></div>
                    <div class = "goodPrice">￥</div>
                    <div style="width: 280px; display: flex; align-content: center; margin-top: 20px;">
                        <form style="height: 40px; width: 120px;">
                            <input type="button" value="立即购买" class="btn" style="background-color: deeppink; font-weight: bold;" onclick = "jumpLocation('/undone',this)"/>
                        </form>
                    </div>
                </div>
                <div class = "providerInfoBox">
                    <div class = "providerSculp">
                        <img src = "/img/defaultUser.png"/>
                    </div>
                    <div class = "providerName" onmouseover = "changeProviderName(1)" onmouseleave = "changeProviderName(0)">root</div>
                    <!--todo: 获取商家id和主页链接-->
                    <div class = "saying">最怕你一生碌碌无为，还安慰自己平凡可贵</div>
                    <div class = "providerInfo">商家信用分：null</div>
                    <div class = "providerInfo">常售卖商品：null</div>
                    <div class = "providerInfo">买家好评率：null</div>
                </div>
            </div>
            <div class = "goodDetail">
                <div class = "detailOptionBar">
                    <div class = "detailOption" onclick = "showDetailContent(1)">详细信息</div>
                    <div class = "detailOption" onclick = "showDetailContent(2)">更多图片</div>
                </div>
                    <div class = "detailContent">
                    </div>
            </div>
        </div>


        <script src="/js/jquery-3.6.1.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
        <script src="/js/detail.js"></script>
        <script src="/js/universal.js"></script>
        <script src="/js/index.js"></script>
    </body>

</html>
