<!DOCTYPE html>
<html lang = "en">
<!--控制缩进-->
    <head>
        <meta charset = "UTF-8">

        <title>商店开张，来看看货(゜-゜)つロ</title>


        <link rel = "stylesheet" type = "text/css" href = "../static/css/universal.css">
        <link rel = "stylesheet" type = "text/css" href = "../static/css/detail.css">
    </head>
    <body>

        <div class="headBar">
            <div class="logo">
                <img src="../static/img/logo.png"/>
            </div>
            <form class="searchBar">
                <input type="text" placeholder="翻翻集市里都有些什么叭~" onfocus="changeSearch(2)" onblur="changeSearch(3)"/>
                <img src="../static/img/searchIcon.png" onmouseover="changeSearch(0)" onmouseleave="changeSearch(1)"/>
            </form>
            <!--预留给附加功能-->
            <div class="settingBar">
                <ul style="">
                    <li><img src="../static/img/setting.png"/></li>
                    <li><img src="../static/img/music.png"/></li>
                    <li><img src="../static/img/link.png"/></li>
                </ul>
            </div>
            <div class="userBox" onmouseleave="avatorScaler('50px')">
                <div class="avator">
                    <img src="../static/img/defaultUser.png" onmouseover="avatorScaler('100px')">
                </div>
            </div>
            <!--预留给附加功能（如发布商品等）-->
            <div style="width: 280px; display: flex; align-content: center">
                <form style="height: 40px; width: 120px; margin: auto auto;">
                    <input type="button" value="上架商品" class="btn" style="background-color: deeppink; font-weight: bold;"/>
                </form>
            </div>
        </div>

        <div class="navBar">
            <div style="height: 70px"></div>
            <div class="optionBox">
                <img src="../static/img/homeIcon.png"/>
                <span>主页</span>
            </div>
            <div class="optionBox">
                <img src="../static/img/discussIcon.png"/>
                <span>灌水</span>
            </div>
            <div class="optionBox">
                <img src="../static/img/helpIcon.png"/>
                <span>帮助</span>
            </div>
            <div class="optionBox">
                <img src="../static/img/fireIcon.png"/>
                <span>热门</span>
            </div>
        </div>

        <div class = "container">
            <div class = "goodBar">
                <img src = "../static/img/demo5.jpg"/>
                <div class = "goodInfo">
                    <div class = "goodName">迷迭香</div>
                    <div class = "goodTag">食材|香料</div>
                    <div class = "goodPrice">￥25</div>
                    <div style="width: 280px; display: flex; align-content: center; margin-top: 20px;">
                        <form style="height: 40px; width: 120px;">
                            <input type="button" value="立即购买" class="btn" style="background-color: deeppink; font-weight: bold;"/>
                        </form>
                    </div>
                </div>
                <div class = "providerInfoBox">
                    <div class = "providerSculp">
                        <img src = "../static/img/defaultUser.png"/>
                    </div>
                    <div class = "providerName" onmouseover = "changeProviderName(1)" onmouseleave = "changeProviderName(0)">root</div>
                    <!--todo: 获取商家id和主页链接-->
                    <div class = "saying">最怕你一生碌碌无为，还安慰自己平凡可贵</div>
                    <div class = "providerInfo">商家信用分：100</div>
                    <div class = "providerInfo">常售卖商品：null</div>
                    <div class = "providerInfo">买家好评率：0%</div>
                </div>
            </div>
            <div class = "goodDetail">
                <div class = "detailOptionBar">
                    <div class = "detailOption" onclick = "showDetailContent(1)">详细信息</div>
                    <div class = "detailOption" onclick = "showDetailContent(2)">更多图片</div>
                </div>
                    <div class = "detailContent">
                        <div class = "article-subtitle">原产地：null</div>
                        <div class = "article-subtitle">保质期：null</div>
                        <div class = "article-subtitle">用途：null</div>
                    </div>
            </div>
        </div>



        <script src="../static/js/detail.js"></script>
        <script src="../static/js/universal.js"></script>
        <script src="../static/js/jquery-3.6.1.js"></script>
        <script src="../static/js/index.js"></script>
    </body>

</html>
