<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>灌水论坛(゜-゜)つロ</title>
        <link rel="stylesheet" href="../static/css/universal.css"/>
        <link rel="stylesheet" href="../static/css/forum.css"/>
    </head>
    <body>
        <div class="headBar">
          <div class="logo">
            <img src="../static/img/logo.png"/>
          </div>
          <form class="searchBar">
            <input type="text" placeholder="翻翻集市里都有些什么叭~" onfocus="changeSearch(2)" onblur="changeSearch(3)"/>
            <img src="../static/img/searchIcon.png" onmouseover="changeSearch(0)" onmouseleave="changeSearch(1)"/>
          </form>
          <!--预留给附加功能-->
          <div class="settingBar">
            <ul>
              <li><img src="../static/img/setting.png"/></li>
              <li><a href="https://github.com/KYCoraxxx/NJU-SE-Internet-Computation-Project" target="_blank"><img src="../static/img/link.png"/></a><li>
              <li onclick="changeMusic()"><img src="../static/img/music.png"/></li>
            </ul>
          </div>
          <div class="userBox" onmouseleave="avatorScaler('50px')">
            <div class="avator">
              <img src="../static/img/defaultUser.png" onmouseover="avatorScaler('100px')">
            </div>
          </div>
          <!--预留给附加功能（如发布商品等）-->
          <div style="width: 280px; display: flex; align-content: center">
            <form style="height: 40px; width: 120px; margin: auto auto;">
              <input type="button" value="上架商品" class="btn" style="background-color: deeppink; font-weight: bold;"/>
            </form>
          </div>
        </div>
        <div class="navBar">
            <div style="height: 70px"></div>
            <div class="optionBox">
                <img src="/img/homeIcon.png"/>
                <span>主页</span>
            </div>
            <div class="optionBox" style="background-color: #00000024">
                <img src="/img/discussIcon.png"/>
                <span style="color: mediumpurple">灌水</span>
            </div>
            <div class="optionBox">
                <img src="/img/helpIcon.png"/>
                <span>帮助</span>
            </div>
            <div class="optionBox">
                <img src="/img/fireIcon.png"/>
                <span>热门</span>
            </div>
        </div>
        <!--todo: the textarea in the critical zone lacks of ids-->
        <div class="container">
            <div class="bg">
                <div class="returnTopBtn" onclick="returnTop()">
                    <img src="../static/img/returnTopBtn.png" style="width: 50px;height: 50px;">
                </div>
            </div>
            <div class="forumContent">
                <div class="forumTitle">
                    <div class="forumTitle_IMG"></div>
                </div>
                <div class="forumList">
                    <div class="forumItem">
                        <div class="itemMain">
                            <div class="itemMain_header">
                                <div class="itemMain_header_IMG">
                                    <!--todo: add link to personal page here-->
                                    <a href="#" target="_blank"><img src="../static/img/defaultUser.png" style="width: 50px;height: 50px; border-radius: 50%;"></a>
                                </div>
                                <div class="itemMain_header_details">
                                    <div class="itemMain_header_details_name">DefaultUser</div>
                                    <div class="itemMain_header_details_date">Published On 2022.12.04</div>
                                </div>
                                <div class="itemMain_header_report" onmouseover="appendReport(this)" onmouseleave="removeReport()">
                                    <img src="../static/img/ellipsisVertical.png" style="width: 30px;height: 30px;margin-top: 10px;">
                                </div>
                            </div>
                            <div class="itemMain_body">
                                <div class="itemMain_body_content">灌水灌水灌水灌水灌水灌水灌水灌水灌水灌水灌水灌水灌水灌水灌水灌水灌水灌水灌水灌水</div>
                                <div class="itemMain_body_IMG">
                                    <!--todo:add an index to every item to ease the clearAll function-->
                                    <img class="itemMain_body_IMG_singleIMG" src="../static/img/login.jpg" onclick="picRespond(this)" >
                                    <img class="itemMain_body_IMG_singleIMG" src="../static/img/login.jpg" onclick="picRespond(this)">
                                    <img class="itemMain_body_IMG_singleIMG" src="../static/img/login.jpg" onclick="picRespond(this)">
                                    <img class="itemMain_body_IMG_singleIMG" src="../static/img/login.jpg" onclick="picRespond(this)">
                                    <img class="itemMain_body_IMG_singleIMG" src="../static/img/login.jpg" onclick="picRespond(this)">
                                    <img class="itemMain_body_IMG_singleIMG" src="../static/img/login.jpg" onclick="picRespond(this)">
                                    <img class="itemMain_body_IMG_singleIMG" src="../static/img/login.jpg" onclick="picRespond(this)">
                                    <img class="itemMain_body_IMG_singleIMG" src="../static/img/login.jpg" onclick="picRespond(this)">
                                    <img class="itemMain_body_IMG_singleIMG" src="../static/img/login.jpg" onclick="picRespond(this)">

                                </div>
                            </div>
                            <div class="itemMainFooter">
                                <!--todo:This place should link with actual data-->
                                <div class="itemMainFooter_share">
                                    <img src="../static/img/shareInForum.png" style="width: 30px; height: 30px;">
                                    <div class="itemMainFooter_share_data">1</div>
                                </div>
                                <div class="itemMainFooter_comment">
                                    <img src="../static/img/commentInForum.png" style="width: 30px; height: 30px;">
                                    <div class="itemMainFooter_comment_data">2</div>
                                </div>
                                <div class="itemMainFooter_like">
                                    <img src="../static/img/likeInForum.png" style="width: 30px; height: 30px;">
                                    <div class="itemMainFooter_like_data">3</div>
                                </div>
                            </div>
                            <hr style="width: 80%; margin-left: 10%;">
                        </div>
                        <div class="itemCritics">
                            <form class="itemCritics_Form" action="#" method="post">
                                <div class="itemCritics_Form_user"><img src="../static/img/defaultUser.png" style="width:50px;height: 50px"></div>
                                <!--todo:add an index to every item to ease the clearAll function-->
                                <textarea name="itemCriticsForm" id="itemCriticsForm"  rows="4" placeholder="灌下你的水" minlength="1" maxlength="80" ></textarea>
                                <button class="commentSubmit" type="submit">灌水</button>
                            </form>
                            <div class="itemCritics_critics">
                                <hr style="width: 72%;margin-left: 18%;">
                                <!--todo:grab latest remarks-->
                                <div class="itemCritics_criticsList">
                                    <div class="itemCritics_criticsList_item">
                                        <div class="itemCritics_criticsList_item_user">
                                            <a href="#" target="_blank"><img src="../static/img/defaultUser.png" style="width: 40px;height: 40px;"></a>
                                        </div>
                                        <div class="itemCritics_criticsList_item_details">
                                            <div class="itemCritics_criticsList_item_name">DefaultUser</div>
                                            <div class="itemCritics_criticsList_item_content">评论评论评评论评论评论评论评论评论评论评论</div>
                                            <div class="itemCritics_criticsList_item_foot">
                                                <div class="itemCritics_criticsList_item_foot_time">Published on 2022.12.5</div>
                                                <div class="itemCritics_criticsList_item_foot_like">
                                                    <img src="../static/img/likeInCritic.png" style="width: 15px; height: 15px; margin-right: 15px;margin-top: 5px">
                                                    <div class="itemCritics_criticsList_item_foot_like_data">1</div>
                                                </div>
                                                <div class="itemCritics_criticsList_item_foot_dislike">
                                                    <img src="../static/img/dislikeInCritic.png" style="width: 15px; height: 15px; margin-right: 15px;margin-top: 5px">
                                                    <div class="itemCritics_criticsList_item_foot_dislike_data">2</div>
                                                </div>
                                                <div class="itemCritics_criticsList_item_foot_report" onmouseover="appendReport(this)" >
                                                    <img src="../static/img/ellipsisVertical.png" style="width: 20px; height: 20px; margin-top: 5px">
                                                </div>
                                            </div>
                                            <hr style="width: 90%; margin-left: -2%;">
                                        </div>
                                    </div>
                                    <div class="itemCritics_criticsList_item">
                                        <div class="itemCritics_criticsList_item_user">
                                            <a href="#" target="_blank"><img src="../static/img/defaultUser.png" style="width: 40px;height: 40px;"></a>
                                        </div>
                                        <div class="itemCritics_criticsList_item_details">
                                            <div class="itemCritics_criticsList_item_name">DefaultUser</div>
                                            <div class="itemCritics_criticsList_item_content">评论评论评论评论论评评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论论评论评论评论评论</div>
                                            <div class="itemCritics_criticsList_item_foot">
                                                <div class="itemCritics_criticsList_item_foot_time">Published on 2022.12.5</div>
                                                <div class="itemCritics_criticsList_item_foot_like">
                                                    <img src="../static/img/likeInCritic.png" style="width: 15px; height: 15px; margin-right: 15px;margin-top: 5px">
                                                    <div class="itemCritics_criticsList_item_foot_like_data">1</div>
                                                </div>
                                                <div class="itemCritics_criticsList_item_foot_dislike">
                                                    <img src="../static/img/dislikeInCritic.png" style="width: 15px; height: 15px; margin-right: 15px;margin-top: 5px">
                                                    <div class="itemCritics_criticsList_item_foot_dislike_data">2</div>
                                                </div>
                                                <div class="itemCritics_criticsList_item_foot_report" onmouseover="appendReport(this)" >
                                                    <img src="../static/img/ellipsisVertical.png" style="width: 20px; height: 20px; margin-top: 5px">
                                                </div>
                                            </div>
                                            <hr style="width: 90%; margin-left: -2%;">
                                        </div>
                                    </div>
                                    <div class="itemCritics_criticsList_item">
                                        <div class="itemCritics_criticsList_item_user">
                                            <a href="#" target="_blank"><img src="../static/img/defaultUser.png" style="width: 40px;height: 40px;"></a>
                                        </div>
                                        <div class="itemCritics_criticsList_item_details">
                                            <div class="itemCritics_criticsList_item_name">DefaultUser</div>
                                            <div class="itemCritics_criticsList_item_content">评论评论评论评论评评论评论评论评论评论评论论评论评论评论评论</div>
                                            <div class="itemCritics_criticsList_item_foot">
                                                <div class="itemCritics_criticsList_item_foot_time">Published on 2022.12.5</div>
                                                <div class="itemCritics_criticsList_item_foot_like">
                                                    <img src="../static/img/likeInCritic.png" style="width: 15px; height: 15px; margin-right: 15px;margin-top: 5px">
                                                    <div class="itemCritics_criticsList_item_foot_like_data">1</div>
                                                </div>
                                                <div class="itemCritics_criticsList_item_foot_dislike">
                                                    <img src="../static/img/dislikeInCritic.png" style="width: 15px; height: 15px; margin-right: 15px;margin-top: 5px">
                                                    <div class="itemCritics_criticsList_item_foot_dislike_data">2</div>
                                                </div>
                                                <div class="itemCritics_criticsList_item_foot_report" onmouseover="appendReport(this)">
                                                    <img src="../static/img/ellipsisVertical.png" style="width: 20px; height: 20px; margin-top: 5px">
                                                </div>
                                            </div>
                                            <hr style="width: 90%; margin-left: -2%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="forumItem">
                        <div class="itemMain">
                            <div class="itemMain_header">
                                <div class="itemMain_header_IMG">
                                    <!--todo: add link to personal page here-->
                                    <a href="#" target="_blank"><img src="../static/img/defaultUser.png" style="width: 50px;height: 50px; border-radius: 50%;"></a>
                                </div>
                                <div class="itemMain_header_details">
                                    <div class="itemMain_header_details_name">DefaultUser</div>
                                    <div class="itemMain_header_details_date">Published On 2022.12.04</div>
                                </div>
                                <div class="itemMain_header_report" onmouseover="appendReport(this)" onmouseleave="removeReport()">
                                    <img src="../static/img/ellipsisVertical.png" style="width: 30px;height: 30px;margin-top: 10px;">
                                </div>
                            </div>
                            <div class="itemMain_body">
                                <div class="itemMain_body_content">灌水灌水灌水灌水灌水灌水灌水灌水灌水灌水灌水灌水灌水灌水灌水灌水灌水灌水灌水灌水</div>
                                <div class="itemMain_body_IMG">
                                    <!--todo:add an index to every item to ease the clearAll function-->
                                    <img class="itemMain_body_IMG_singleIMG" src="../static/img/login.jpg" onclick="picRespond(this)" >
                                    <img class="itemMain_body_IMG_singleIMG" src="../static/img/login.jpg" onclick="picRespond(this)">
                                    <img class="itemMain_body_IMG_singleIMG" src="../static/img/login.jpg" onclick="picRespond(this)">
                                    <img class="itemMain_body_IMG_singleIMG" src="../static/img/login.jpg" onclick="picRespond(this)">
                                    <img class="itemMain_body_IMG_singleIMG" src="../static/img/login.jpg" onclick="picRespond(this)">
                                    <img class="itemMain_body_IMG_singleIMG" src="../static/img/login.jpg" onclick="picRespond(this)">
                                    <img class="itemMain_body_IMG_singleIMG" src="../static/img/login.jpg" onclick="picRespond(this)">
                                    <img class="itemMain_body_IMG_singleIMG" src="../static/img/login.jpg" onclick="picRespond(this)">
                                    <img class="itemMain_body_IMG_singleIMG" src="../static/img/login.jpg" onclick="picRespond(this)">

                                </div>
                            </div>
                            <div class="itemMainFooter">
                                <!--todo:This place should link with actual data-->
                                <div class="itemMainFooter_share">
                                    <img src="../static/img/shareInForum.png" style="width: 30px; height: 30px;">
                                    <div class="itemMainFooter_share_data">1</div>
                                </div>
                                <div class="itemMainFooter_comment">
                                    <img src="../static/img/commentInForum.png" style="width: 30px; height: 30px;">
                                    <div class="itemMainFooter_comment_data">2</div>
                                </div>
                                <div class="itemMainFooter_like">
                                    <img src="../static/img/likeInForum.png" style="width: 30px; height: 30px;">
                                    <div class="itemMainFooter_like_data">3</div>
                                </div>
                            </div>
                            <hr style="width: 80%; margin-left: 10%;">
                        </div>
                        <div class="itemCritics">
                            <form class="itemCritics_Form" action="#" method="post">
                                <div class="itemCritics_Form_user"><img src="../static/img/defaultUser.png" style="width:50px;height: 50px"></div>
                                <!--todo: the id of the textarea should be replaced-->
                                <textarea name="itemCriticsForm" rows="4" placeholder="灌下你的水" minlength="1" maxlength="80" ></textarea>
                                <button class="commentSubmit" type="submit">灌水</button>
                            </form>
                            <div class="itemCritics_critics">
                                <hr style="width: 72%;margin-left: 18%;">
                                <!--todo:grab latest remarks-->
                                <div class="itemCritics_criticsList">
                                    <div class="itemCritics_criticsList_item">
                                        <div class="itemCritics_criticsList_item_user">
                                            <a href="#" target="_blank"><img src="../static/img/defaultUser.png" style="width: 40px;height: 40px;"></a>
                                        </div>
                                        <div class="itemCritics_criticsList_item_details">
                                            <div class="itemCritics_criticsList_item_name">DefaultUser</div>
                                            <div class="itemCritics_criticsList_item_content">评论评论评评论评论评论评论评论评论评论评论</div>
                                            <div class="itemCritics_criticsList_item_foot">
                                                <div class="itemCritics_criticsList_item_foot_time">Published on 2022.12.5</div>
                                                <div class="itemCritics_criticsList_item_foot_like">
                                                    <img src="../static/img/likeInCritic.png" style="width: 15px; height: 15px; margin-right: 15px;margin-top: 5px">
                                                    <div class="itemCritics_criticsList_item_foot_like_data">1</div>
                                                </div>
                                                <div class="itemCritics_criticsList_item_foot_dislike">
                                                    <img src="../static/img/dislikeInCritic.png" style="width: 15px; height: 15px; margin-right: 15px;margin-top: 5px">
                                                    <div class="itemCritics_criticsList_item_foot_dislike_data">2</div>
                                                </div>
                                                <div class="itemCritics_criticsList_item_foot_report" onmouseover="appendReport(this)" >
                                                    <img src="../static/img/ellipsisVertical.png" style="width: 20px; height: 20px; margin-top: 5px">
                                                </div>
                                            </div>
                                            <hr style="width: 90%; margin-left: -2%;">
                                        </div>
                                    </div>
                                    <div class="itemCritics_criticsList_item">
                                        <div class="itemCritics_criticsList_item_user">
                                            <a href="#" target="_blank"><img src="../static/img/defaultUser.png" style="width: 40px;height: 40px;"></a>
                                        </div>
                                        <div class="itemCritics_criticsList_item_details">
                                            <div class="itemCritics_criticsList_item_name">DefaultUser</div>
                                            <div class="itemCritics_criticsList_item_content">评论评论评论评论论评评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论论评论评论评论评论</div>
                                            <div class="itemCritics_criticsList_item_foot">
                                                <div class="itemCritics_criticsList_item_foot_time">Published on 2022.12.5</div>
                                                <div class="itemCritics_criticsList_item_foot_like">
                                                    <img src="../static/img/likeInCritic.png" style="width: 15px; height: 15px; margin-right: 15px;margin-top: 5px">
                                                    <div class="itemCritics_criticsList_item_foot_like_data">1</div>
                                                </div>
                                                <div class="itemCritics_criticsList_item_foot_dislike">
                                                    <img src="../static/img/dislikeInCritic.png" style="width: 15px; height: 15px; margin-right: 15px;margin-top: 5px">
                                                    <div class="itemCritics_criticsList_item_foot_dislike_data">2</div>
                                                </div>
                                                <div class="itemCritics_criticsList_item_foot_report" onmouseover="appendReport(this)" >
                                                    <img src="../static/img/ellipsisVertical.png" style="width: 20px; height: 20px; margin-top: 5px">
                                                </div>
                                            </div>
                                            <hr style="width: 90%; margin-left: -2%;">
                                        </div>
                                    </div>
                                    <div class="itemCritics_criticsList_item">
                                        <div class="itemCritics_criticsList_item_user">
                                            <a href="#" target="_blank"><img src="../static/img/defaultUser.png" style="width: 40px;height: 40px;"></a>
                                        </div>
                                        <div class="itemCritics_criticsList_item_details">
                                            <div class="itemCritics_criticsList_item_name">DefaultUser</div>
                                            <div class="itemCritics_criticsList_item_content">评论评论评论评论评评论评论评论评论评论评论论评论评论评论评论</div>
                                            <div class="itemCritics_criticsList_item_foot">
                                                <div class="itemCritics_criticsList_item_foot_time">Published on 2022.12.5</div>
                                                <div class="itemCritics_criticsList_item_foot_like">
                                                    <img src="../static/img/likeInCritic.png" style="width: 15px; height: 15px; margin-right: 15px;margin-top: 5px">
                                                    <div class="itemCritics_criticsList_item_foot_like_data">1</div>
                                                </div>
                                                <div class="itemCritics_criticsList_item_foot_dislike">
                                                    <img src="../static/img/dislikeInCritic.png" style="width: 15px; height: 15px; margin-right: 15px;margin-top: 5px">
                                                    <div class="itemCritics_criticsList_item_foot_dislike_data">2</div>
                                                </div>
                                                <div class="itemCritics_criticsList_item_foot_report" onmouseover="appendReport(this)">
                                                    <img src="../static/img/ellipsisVertical.png" style="width: 20px; height: 20px; margin-top: 5px">
                                                </div>
                                            </div>
                                            <hr style="width: 90%; margin-left: -2%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="forumItem">
                        <div class="itemMain">
                            <div class="itemMain_header">
                                <div class="itemMain_header_IMG">
                                    <!--todo: add link to personal page here-->
                                    <a href="#" target="_blank"><img src="../static/img/defaultUser.png" style="width: 50px;height: 50px; border-radius: 50%;"></a>
                                </div>
                                <div class="itemMain_header_details">
                                    <div class="itemMain_header_details_name">DefaultUser</div>
                                    <div class="itemMain_header_details_date">Published On 2022.12.04</div>
                                </div>
                                <div class="itemMain_header_report" onmouseover="appendReport(this)" onmouseleave="removeReport()">
                                    <img src="../static/img/ellipsisVertical.png" style="width: 30px;height: 30px;margin-top: 10px;">
                                </div>
                            </div>
                            <div class="itemMain_body">
                                <div class="itemMain_body_content">灌水灌水灌水灌水灌水灌水灌水灌水灌水灌水灌水灌水灌水灌水灌水灌水灌水灌水灌水灌水</div>
                                <div class="itemMain_body_IMG">
                                    <!--todo:add an index to every item to ease the clearAll function-->
                                    <img class="itemMain_body_IMG_singleIMG" src="../static/img/login.jpg" onclick="picRespond(this)" >
                                    <img class="itemMain_body_IMG_singleIMG" src="../static/img/login.jpg" onclick="picRespond(this)">
                                    <img class="itemMain_body_IMG_singleIMG" src="../static/img/login.jpg" onclick="picRespond(this)">
                                    <img class="itemMain_body_IMG_singleIMG" src="../static/img/login.jpg" onclick="picRespond(this)">
                                    <img class="itemMain_body_IMG_singleIMG" src="../static/img/login.jpg" onclick="picRespond(this)">
                                    <img class="itemMain_body_IMG_singleIMG" src="../static/img/login.jpg" onclick="picRespond(this)">
                                    <img class="itemMain_body_IMG_singleIMG" src="../static/img/login.jpg" onclick="picRespond(this)">
                                    <img class="itemMain_body_IMG_singleIMG" src="../static/img/login.jpg" onclick="picRespond(this)">
                                    <img class="itemMain_body_IMG_singleIMG" src="../static/img/login.jpg" onclick="picRespond(this)">

                                </div>
                            </div>
                            <div class="itemMainFooter">
                                <!--todo:This place should link with actual data-->
                                <div class="itemMainFooter_share">
                                    <img src="../static/img/shareInForum.png" style="width: 30px; height: 30px;">
                                    <div class="itemMainFooter_share_data">1</div>
                                </div>
                                <div class="itemMainFooter_comment">
                                    <img src="../static/img/commentInForum.png" style="width: 30px; height: 30px;">
                                    <div class="itemMainFooter_comment_data">2</div>
                                </div>
                                <div class="itemMainFooter_like">
                                    <img src="../static/img/likeInForum.png" style="width: 30px; height: 30px;">
                                    <div class="itemMainFooter_like_data">3</div>
                                </div>
                            </div>
                            <hr style="width: 80%; margin-left: 10%;">
                        </div>
                        <div class="itemCritics">
                            <form class="itemCritics_Form" action="#" method="post">
                                <div class="itemCritics_Form_user"><img src="../static/img/defaultUser.png" style="width:50px;height: 50px"></div>
                                <textarea name="itemCriticsForm" rows="4" placeholder="灌下你的水" minlength="1" maxlength="80" ></textarea>
                                <button class="commentSubmit" type="submit">灌水</button>
                            </form>
                            <div class="itemCritics_critics">
                                <hr style="width: 72%;margin-left: 18%;">
                                <!--todo:grab latest remarks-->
                                <div class="itemCritics_criticsList">
                                    <div class="itemCritics_criticsList_item">
                                        <div class="itemCritics_criticsList_item_user">
                                            <a href="#" target="_blank"><img src="../static/img/defaultUser.png" style="width: 40px;height: 40px;"></a>
                                        </div>
                                        <div class="itemCritics_criticsList_item_details">
                                            <div class="itemCritics_criticsList_item_name">DefaultUser</div>
                                            <div class="itemCritics_criticsList_item_content">评论评论评评论评论评论评论评论评论评论评论</div>
                                            <div class="itemCritics_criticsList_item_foot">
                                                <div class="itemCritics_criticsList_item_foot_time">Published on 2022.12.5</div>
                                                <div class="itemCritics_criticsList_item_foot_like">
                                                    <img src="../static/img/likeInCritic.png" style="width: 15px; height: 15px; margin-right: 15px;margin-top: 5px">
                                                    <div class="itemCritics_criticsList_item_foot_like_data">1</div>
                                                </div>
                                                <div class="itemCritics_criticsList_item_foot_dislike">
                                                    <img src="../static/img/dislikeInCritic.png" style="width: 15px; height: 15px; margin-right: 15px;margin-top: 5px">
                                                    <div class="itemCritics_criticsList_item_foot_dislike_data">2</div>
                                                </div>
                                                <div class="itemCritics_criticsList_item_foot_report" onmouseover="appendReport(this)" >
                                                    <img src="../static/img/ellipsisVertical.png" style="width: 20px; height: 20px; margin-top: 5px">
                                                </div>
                                            </div>
                                            <hr style="width: 90%; margin-left: -2%;">
                                        </div>
                                    </div>
                                    <div class="itemCritics_criticsList_item">
                                        <div class="itemCritics_criticsList_item_user">
                                            <a href="#" target="_blank"><img src="../static/img/defaultUser.png" style="width: 40px;height: 40px;"></a>
                                        </div>
                                        <div class="itemCritics_criticsList_item_details">
                                            <div class="itemCritics_criticsList_item_name">DefaultUser</div>
                                            <div class="itemCritics_criticsList_item_content">评论评论评论评论论评评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论论评论评论评论评论</div>
                                            <div class="itemCritics_criticsList_item_foot">
                                                <div class="itemCritics_criticsList_item_foot_time">Published on 2022.12.5</div>
                                                <div class="itemCritics_criticsList_item_foot_like">
                                                    <img src="../static/img/likeInCritic.png" style="width: 15px; height: 15px; margin-right: 15px;margin-top: 5px">
                                                    <div class="itemCritics_criticsList_item_foot_like_data">1</div>
                                                </div>
                                                <div class="itemCritics_criticsList_item_foot_dislike">
                                                    <img src="../static/img/dislikeInCritic.png" style="width: 15px; height: 15px; margin-right: 15px;margin-top: 5px">
                                                    <div class="itemCritics_criticsList_item_foot_dislike_data">2</div>
                                                </div>
                                                <div class="itemCritics_criticsList_item_foot_report" onmouseover="appendReport(this)" >
                                                    <img src="../static/img/ellipsisVertical.png" style="width: 20px; height: 20px; margin-top: 5px">
                                                </div>
                                            </div>
                                            <hr style="width: 90%; margin-left: -2%;">
                                        </div>
                                    </div>
                                    <div class="itemCritics_criticsList_item">
                                        <div class="itemCritics_criticsList_item_user">
                                            <a href="#" target="_blank"><img src="../static/img/defaultUser.png" style="width: 40px;height: 40px;"></a>
                                        </div>
                                        <div class="itemCritics_criticsList_item_details">
                                            <div class="itemCritics_criticsList_item_name">DefaultUser</div>
                                            <div class="itemCritics_criticsList_item_content">评论评论评论评论评评论评论评论评论评论评论论评论评论评论评论</div>
                                            <div class="itemCritics_criticsList_item_foot">
                                                <div class="itemCritics_criticsList_item_foot_time">Published on 2022.12.5</div>
                                                <div class="itemCritics_criticsList_item_foot_like">
                                                    <img src="../static/img/likeInCritic.png" style="width: 15px; height: 15px; margin-right: 15px;margin-top: 5px">
                                                    <div class="itemCritics_criticsList_item_foot_like_data">1</div>
                                                </div>
                                                <div class="itemCritics_criticsList_item_foot_dislike">
                                                    <img src="../static/img/dislikeInCritic.png" style="width: 15px; height: 15px; margin-right: 15px;margin-top: 5px">
                                                    <div class="itemCritics_criticsList_item_foot_dislike_data">2</div>
                                                </div>
                                                <div class="itemCritics_criticsList_item_foot_report" onmouseover="appendReport(this)">
                                                    <img src="../static/img/ellipsisVertical.png" style="width: 20px; height: 20px; margin-top: 5px">
                                                </div>
                                            </div>
                                            <hr style="width: 90%; margin-left: -2%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <script src="../static/js/forum.js"></script>
        <script src="../static/js/universal.js"></script>
        <script src="../static/js/jquery-3.6.1.js"></script>
    </body>
</html>