<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Discuss</title>
    <link rel="stylesheet" href="../static/css/universal.css">
    <link rel="stylesheet" href="../static/css/forum.css">
</head>
<body>
        <div class="headBar">
          <div class="logo">
            <img src="../static/img/logo.png"/>
          </div>
          <form class="searchBar">
            <input type="text" placeholder="翻翻集市里都有些什么叭~" onfocus="changeSearch(2)" onblur="changeSearch(3)"/>
            <img src="../static/img/searchIcon.png" onmouseover="changeSearch(0)" onmouseleave="changeSearch(1)"/>
          </form>
          <!--预留给附加功能-->
          <div class="settingBar">
            <ul>
              <li><img src="../static/img/setting.png"/></li>
              <li><a href="https://github.com/KYCoraxxx/NJU-SE-Internet-Computation-Project" target="_blank"><img src="../static/img/link.png"/></a><li>
              <li onclick="changeMusic()"><img src="/img/music.png"/></li>
            </ul>
          </div>
          <div class="userBox" onmouseleave="avatorScaler('50px')">
            <div class="avator">
              <img src="../static/img/defaultUser.png" onmouseover="avatorScaler('100px')">
            </div>
          </div>
          <!--预留给附加功能（如发布商品等）-->
          <div style="width: 280px; display: flex; align-content: center">
            <form style="height: 40px; width: 120px; margin: auto auto;">
              <input type="button" value="上架商品" class="btn" style="background-color: deeppink; font-weight: bold;"/>
            </form>
          </div>
        </div>
        <div class="infoBody">
            <div class="infoContainer">
              <div class="infoNavBar">
                  <div class="navTitle">
                      <div><img class="navIcon" src="../static/img/info.png"></div>
                      <div class="titleText">消息中心</div>
                  </div>
                  <ul class="navList">
                      <!--todo:This place should be able to cause the change in content zone-->
                      <li>商家消息</li>
                      <li>系统通知</li>
                      <li>收到的赞</li>
                  </ul>
                  <hr style="position: absolute;top: 50%;left: 10%;width: 80%;">
                  <div class="infoSetting">
                      <img src="../static/img/setting.png" style="width: 10%;height: 25%;position: absolute;left: 10%">
                  </div>
              </div>
              <div class="infoContentBar">
                  <div class="contentTop"></div>
                  <div class="contentBottom">
                      <ul class="infoBlock" >
                          <!--There are three types of -->
                          <li class="infoBar">
                              <div class="singleInfo">
                                  <div class="name"></div>
                                  <div class="tag"></div>
                                  <div class="message"></div>
                                  <button class="reply"></button>
                                  <button class="like"></button>
                              </div>
                          </li>
                          <li>


                          </li>
                          <li></li>
                      </ul>
                  </div>
              </div>
            </div>
        </div>
</body>
</html>