<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/css/HomePageCSS.css">
</head>
    <body>
        <div class="head">
            <div class="headCol logo">
                <h1>LOGO</h1>
            </div>
            <div class="headCol headSearch">
                <form action="#" target="_blank">
                    <!--This place should invoke search function-->
                    <img class="searchImg" src="../static/img/searchImg.png" alt="搜索图片">
                    <input class="searchInput" id="headSearchInput" type="search" placeholder="搜索商品" >
                </form>
            </div>
            <div class="headCol portrait">
                <a href="#" target="_blank" onmouseover="showClientInfo(0)">
                    <!--This place should be linked to client information page-->
                    <img class="portImg" src="../static/img/portraitIMG.png" alt="头像图片">
                </a>
            </div>
            <div class="clientIfo" onmouseleave="showClientInfo(1)">
                <div class="client clientName">
                    <h3>Name</h3>
                </div>
                <br>
                <div>
                    <ul class="buyAndCollection">
                        <!--This place should find the good user have bought and collected-->
                        <li><a href="#" target="_blank"><h2>1</h2>购买</a></li>
                        <li><a href="#" target="_blank"><h2>2</h2>收藏</a></li>
                    </ul>
                </div>
                <div class="client clientTrace">
                    <!--This place should be linked to the user page-->
                    <a class="clientLink" href="#" target="_self"><img class="clientIcon" src="../static/img/quitLogin.png" alt="用户中心">用户中心</a>
                </div>
                <div class="client clientCollection">
                    <a class="clientLink" href="#" target="_self"><img class="clientIcon" src="../static/img/quitLogin.png" alt="商品收藏">商品收藏</a>
                </div>
                <div class="client becomeSeller">
                    <a class="clientLink" href="#" target="_self"><img class="clientIcon" src="../static/img/quitLogin.png" alt="成为卖家">成为卖家</a>
                </div>
                <div class="client quitLogin">
                    <!--This place should be linked to login page-->
                    <a class="clientLink" href="#" target="_self"><img class="clientIcon" src="../static/img/quitLogin.png">退出登录</a>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="col leftCol">
                <ul class="leftList">
                    <!--This place should be linked to other pages-->
                    <li><a href="#" target="_blank"><img class="icon" src="../static/img/HomeIMG.png" alt="主页">主页</a></li>
                    <li><a href="#" target="_blank"><img class="icon" src="../static/img/DiscussIMG.png" alt="灌水">灌水</a></li>
                    <li><a href="#" target="_blank"><img class="icon" src="../static/img/CusServiceIMG.png" alt="客服">客服</a></li>
                    <li><a href="#" target="_blank"><img class="icon" src="../static/img/HotIMG.png" alt="火爆">火爆</a></li>

                </ul>
                <button class="navButt" onclick="showNav()"><img src="../static/img/navImg.png" alt="Nav" width="50px" height="50px"></button>
            </div>
            <div class="col rightCol">
                <div class="carousel">
                    <!--组图-->
                    <div class="loopPic">
                        <ul class="loopList">
                            <li class="loopItem active"><a href=""></a></li>
                            <li class="loopItem"><a href=""></a></li>
                            <li class="loopItem"><a href=""></a></li>
                            <li class="loopItem"><a href=""></a></li>
                            <li class="loopItem"><a href=""></a></li>
                        </ul>
                    </div>
                    <!--旋钮-->
                    <div class="loopBut loopLeftBut" id="leftBtn"><img src="../static/img/leftArrow.png" alt="左箭头" onclick="leftSwitch()"></div>
                    <div class="loopBut loopRightBut" id="rightBtn"><img src="../static/img/rightArrow.png" alt="右箭头" onclick="rightSwitch()"></div>
                    <!--计数器-->
                    <ul class="pointList">
                        <li class="loopPoint active" data-index=0></li>
                        <li class="loopPoint" data-index=1></li>
                        <li class="loopPoint" data-index=2></li>
                        <li class="loopPoint" data-index=3></li>
                        <li class="loopPoint" data-index=4></li>
                    </ul>
                </div>
                <div class="category">
                    <ul class="cateList">
                        <!--This place should be able to switch the goods below in goodsLayer according to the category click-->
                        <li class="cateItem"><img src="../static/img/category2.png" alt="分类1"><h3>分类1</h3></li>
                        <li class="cateItem"><img src="../static/img/category3.png" alt="分类1"><h3>分类1</h3></li>
                        <li class="cateItem"><img src="../static/img/category4.png" alt="分类1"><h3>分类1</h3></li>
                        <li class="cateItem"><img src="../static/img/category2.png" alt="分类1"><h3>分类1</h3></li>
                        <li class="cateItem"><img src="../static/img/category2.png" alt="分类1"><h3>分类1</h3></li>
                        <li class="cateItem"><img src="../static/img/category2.png" alt="分类1"><h3>分类1</h3></li>
                        <li class="cateItem"><img src="../static/img/category2.png" alt="分类1"><h3>分类1</h3></li>
                        <li class="cateItem"><img src="../static/img/category2.png" alt="分类1"><h3>分类1</h3></li>
                    </ul>
                    <div class="cateBtn">
                        <div class="leftCateBtn"><img src="../static/img/leftCate.png" alt="左箭头" onclick="cateLeftMove()"></div>
                        <div class="rightCateBtn"><img src="../static/img/rightCate.png" alt="右箭头" onclick="cateRightMove()"></div>
                    </div>
                </div>
                <div class="goodsLayer">
                    <!--good model-->
                    <div class="goodItem" onmouseover="goodItemChangeStatus(1)" onmouseleave="goodItemChangeStatus(0)">
                        <!--This place should be linked to the good page-->
                        <a class="goodLink" href="#" target="_blank">
                            <!--This place should invoke js to determine which url(which is also should be dragged from database with js) should be jumped into-->
                            <div class="goodImg">
                                <img src="../static/img/login.jpg" alt="">
                            </div>
                            <!--The rest of the info should be drag from database-->
                            <div class="goodName">Name</div>
                            <div class="goodInfo">
                                <ul class="goodInfoTags">
                                    <li>tagOne</li>
                                    <li>|</li>
                                    <li>tagTwo</li><!--a doesn't support nesting-->
                                </ul>
                            </div>
                            <div class="goodPrice">$ ?114?:-(</div>
                            <div class="goodFoot">seller</div>
                        </a>
                    </div>
                    <div class="goodItem">
                        <!--This place should be linked to the good page-->
                        <a href="#" target="_blank">
                            <div class="goodImg"></div>
                            <div class="goodInfo"></div>
                            <div class="goodPrice"></div>
                            <div class="goodFoot"></div>
                        </a>
                    </div>

                    <div class="goodItem">
                        <!--This place should be linked to the good page-->
                        <a href="#" target="_blank">
                            <div class="goodImg"></div>
                            <div class="goodInfo"></div>
                            <div class="goodPrice"></div>
                            <div class="goodFoot"></div>
                        </a>
                    </div>
                    <div class="goodItem">
                        <!--This place should be linked to the good page-->
                        <a href="#" target="_blank">
                            <div class="goodImg"></div>
                            <div class="goodInfo"></div>
                            <div class="goodPrice"></div>
                            <div class="goodFoot"></div>
                        </a>
                    </div>
                    <div class="goodItem">
                        <!--This place should be linked to the good page-->
                        <a href="#" target="_blank">
                            <div class="goodImg"></div>
                            <div class="goodInfo"></div>
                            <div class="goodPrice"></div>
                            <div class="goodFoot"></div>
                        </a>
                    </div>
                    <div class="goodItem">
                        <!--This place should be linked to the good page-->
                        <a href="#" target="_blank">
                            <div class="goodImg"></div>
                            <div class="goodInfo"></div>
                            <div class="goodPrice"></div>
                            <div class="goodFoot"></div>
                        </a>
                    </div>
                </div>
                <div class="pageSwitch">
                    <img class="pageDown" src="../static/img/pageSwitch.png" alt="pageDown">
                    <img class="pageEnd" src="../static/img/pageEnd.png" alt="pageEnd">
                </div>
            </div>
        </div>
    </body>
    <script src="../static/js/jquery-3.6.1.js"></script>
    <script src="../static/js/HomePageJS.js"></script>
</html>