<!DOCTYPE html>
<html lang="en">
<!--控制缩进-->
    <head>
        <meta charset="UTF-8">

        <!--设置页面标题-->
        <title>斯卡布罗集市</title>

        <!--使用Spring-boot内置URLHandler-->
        <!--使用./mvnw spring-boot:run命令运行后使用浏览器预览-->
        <link rel="stylesheet" type="text/css" href="../static/css/index.css">
        <link rel="stylesheet" type="text/css" href="../static/css/universal.css">
    </head>
    <body>
        <div class="headBar">
            <div class="logo">
                <img src="../static/img/logo.png" style="height: 70px; width: 140px; scale: 250%"/>
            </div>
            <div class="searchBar">
                <input type="text" placeholder="翻翻集市里都有些什么叭~"/>
                <img src="../static/img/searchImg.png"/>
            </div>
            <!--预留给附加功能-->
            <div style="width: 40%"></div>
            <div class="userBox" onmouseleave="imgScaler('50px')">
                <div class="avator">
                    <img src="../static/img/defaultUser.png" onmouseover="imgScaler('100px')">
                </div>
                <div class="dropDown"></div>
            </div>
            <!--预留给附加功能（如发布商品等）-->
            <div style="width: 10%"></div>
<!--            <div>-->
<!--                <form action="#" target="_blank">-->
<!--                    &lt;!&ndash;This place should invoke search function&ndash;&gt;-->
<!--                    <img class="searchImg" src="/img/searchImg.png" alt="搜索图片">-->
<!--                    <input class="searchInput" id="headSearchInput" type="search" placeholder="搜索商品" >-->
<!--                </form>-->
<!--            </div>-->
<!--            <div class="headCol portrait">-->
<!--                <a href="#" target="_blank" onmouseover="showClientInfo(0)">-->
<!--                    &lt;!&ndash;This place should be linked to client information page&ndash;&gt;-->
<!--                    <img class="portImg" src="/img/portraitIMG.png" alt="头像图片">-->
<!--                </a>-->
<!--            </div>-->
<!--            <div class="clientIfo" onmouseleave="showClientInfo(1)">-->
<!--                <div class="client clientName">-->
<!--                    <h3>Name</h3>-->
<!--                </div>-->
<!--                <br>-->
<!--                <div>-->
<!--                    <ul class="buyAndCollection">-->
<!--                        &lt;!&ndash;This place should find the good user have bought and collected&ndash;&gt;-->
<!--                        <li><a href="#" target="_blank"><h2>1</h2>购买</a></li>-->
<!--                        <li><a href="#" target="_blank"><h2>2</h2>收藏</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--                <div class="client clientTrace">-->
<!--                    &lt;!&ndash;This place should be linked to the user page&ndash;&gt;-->
<!--                    <a class="clientLink" href="#" target="_self"><img class="clientIcon" src="/img/quitLogin.png" alt="用户中心">用户中心</a>-->
<!--                </div>-->
<!--                <div class="client clientCollection">-->
<!--                    <a class="clientLink" href="#" target="_self"><img class="clientIcon" src="/img/quitLogin.png" alt="商品收藏">商品收藏</a>-->
<!--                </div>-->
<!--                <div class="client becomeSeller">-->
<!--                    <a class="clientLink" href="#" target="_self"><img class="clientIcon" src="/img/quitLogin.png" alt="成为卖家">成为卖家</a>-->
<!--                </div>-->
<!--                <div class="client quitLogin">-->
<!--                    &lt;!&ndash;This place should be linked to login page&ndash;&gt;-->
<!--                    <a class="clientLink" href="#" target="_self"><img class="clientIcon" src="/img/quitLogin.png">退出登录</a>-->
<!--                </div>-->
<!--            </div>-->
        </div>
        <div class="navBar">
            <div style="height: 70px"></div>
            <div class="optionBox" style="background-color: #00000024">
                <img src="../static/img/homeIcon.png"/>
                <span style="color: mediumpurple">主页</span>
            </div>
            <div class="optionBox">
                <img src="../static/img/DiscussIcon.png"/>
                <span>灌水</span>
            </div>
            <div class="optionBox">
                <img src="../static/img/earPhoneIcon.png"/>
                <span>客服</span>
            </div>
            <div class="optionBox">
                <img src="../static/img/fireIcon.png"/>
                <span>火爆</span>
            </div>
        </div>
<!--        <div class="body">-->
<!--            <div class="col leftCol">-->
<!--                <ul class="leftList">-->
<!--                    &lt;!&ndash;This place should be linked to other pages&ndash;&gt;-->
<!--                    <li><a href="#" target="_blank"><img class="icon" src="/img/HomeIMG.png" alt="主页">主页</a></li>-->
<!--                    <li><a href="#" target="_blank"><img class="icon" src="/img/DiscussIMG.png" alt="灌水">灌水</a></li>-->
<!--                    <li><a href="#" target="_blank"><img class="icon" src="/img/CusServiceIMG.png" alt="客服">客服</a></li>-->
<!--                    <li><a href="#" target="_blank"><img class="icon" src="/img/HotIMG.png" alt="火爆">火爆</a></li>-->

<!--                </ul>-->
<!--                <button class="navButt" onclick="showNav()"><img src="/img/navImg.png" alt="Nav" width="50px" height="50px"></button>-->
<!--            </div>-->
<!--            <div class="col rightCol">-->
<!--                <div class="carousel">-->
<!--                    &lt;!&ndash;组图&ndash;&gt;-->
<!--                    <div class="loopPic">-->
<!--                        <ul class="loopList">-->
<!--                            <li class="loopItem active"><a href=""></a></li>-->
<!--                            <li class="loopItem"><a href=""></a></li>-->
<!--                            <li class="loopItem"><a href=""></a></li>-->
<!--                            <li class="loopItem"><a href=""></a></li>-->
<!--                            <li class="loopItem"><a href=""></a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;旋钮&ndash;&gt;-->
<!--                    <div class="loopBut loopLeftBut" id="leftBtn"><img src="/img/leftArrow.png" alt="左箭头" onclick="leftSwitch()"></div>-->
<!--                    <div class="loopBut loopRightBut" id="rightBtn"><img src="/img/rightArrow.png" alt="右箭头" onclick="rightSwitch()"></div>-->
<!--                    &lt;!&ndash;计数器&ndash;&gt;-->
<!--                    <ul class="pointList">-->
<!--                        <li class="loopPoint active" data-index=0></li>-->
<!--                        <li class="loopPoint" data-index=1></li>-->
<!--                        <li class="loopPoint" data-index=2></li>-->
<!--                        <li class="loopPoint" data-index=3></li>-->
<!--                        <li class="loopPoint" data-index=4></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--                <div class="category">-->
<!--                    <ul class="cateList">-->
<!--                        &lt;!&ndash;This place should be able to switch the goods below in goodsLayer according to the category click&ndash;&gt;-->
<!--                        <li class="cateItem"><img src="/img/category2.png" alt="分类1"><h3>分类1</h3></li>-->
<!--                        <li class="cateItem"><img src="/img/category3.png" alt="分类1"><h3>分类1</h3></li>-->
<!--                        <li class="cateItem"><img src="/img/category4.png" alt="分类1"><h3>分类1</h3></li>-->
<!--                        <li class="cateItem"><img src="/img/category2.png" alt="分类1"><h3>分类1</h3></li>-->
<!--                        <li class="cateItem"><img src="/img/category2.png" alt="分类1"><h3>分类1</h3></li>-->
<!--                        <li class="cateItem"><img src="/img/category2.png" alt="分类1"><h3>分类1</h3></li>-->
<!--                        <li class="cateItem"><img src="/img/category2.png" alt="分类1"><h3>分类1</h3></li>-->
<!--                        <li class="cateItem"><img src="/img/category2.png" alt="分类1"><h3>分类1</h3></li>-->
<!--                    </ul>-->
<!--                    <div class="cateBtn">-->
<!--                        <div class="leftCateBtn"><img src="/img/leftCate.png" alt="左箭头" onclick="cateLeftMove()"></div>-->
<!--                        <div class="rightCateBtn"><img src="/img/rightCate.png" alt="右箭头" onclick="cateRightMove()"></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="goodsLayer">-->
<!--                    &lt;!&ndash;good model&ndash;&gt;-->
<!--                    <div class="goodItem" onmouseover="goodItemChangeStatus(1)" onmouseleave="goodItemChangeStatus(0)">-->
<!--                        &lt;!&ndash;This place should be linked to the good page&ndash;&gt;-->
<!--                        <a class="goodLink" href="#" target="_blank">-->
<!--                            &lt;!&ndash;This place should invoke js to determine which url(which is also should be dragged from database with js) should be jumped into&ndash;&gt;-->
<!--                            <div class="goodImg">-->
<!--                                <img src="/img/login.jpg" alt="">-->
<!--                            </div>-->
<!--                            &lt;!&ndash;The rest of the info should be drag from database&ndash;&gt;-->
<!--                            <div class="goodName">Name</div>-->
<!--                            <div class="goodInfo">-->
<!--                                <ul class="goodInfoTags">-->
<!--                                    <li>tagOne</li>-->
<!--                                    <li>|</li>-->
<!--                                    <li>tagTwo</li>&lt;!&ndash;a doesn't support nesting&ndash;&gt;-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                            <div class="goodPrice">$ ?114?:-(</div>-->
<!--                            <div class="goodFoot">seller</div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="goodItem">-->
<!--                        &lt;!&ndash;This place should be linked to the good page&ndash;&gt;-->
<!--                        <a href="#" target="_blank">-->
<!--                            <div class="goodImg"></div>-->
<!--                            <div class="goodInfo"></div>-->
<!--                            <div class="goodPrice"></div>-->
<!--                            <div class="goodFoot"></div>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                    <div class="goodItem">-->
<!--                        &lt;!&ndash;This place should be linked to the good page&ndash;&gt;-->
<!--                        <a href="#" target="_blank">-->
<!--                            <div class="goodImg"></div>-->
<!--                            <div class="goodInfo"></div>-->
<!--                            <div class="goodPrice"></div>-->
<!--                            <div class="goodFoot"></div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="goodItem">-->
<!--                        &lt;!&ndash;This place should be linked to the good page&ndash;&gt;-->
<!--                        <a href="#" target="_blank">-->
<!--                            <div class="goodImg"></div>-->
<!--                            <div class="goodInfo"></div>-->
<!--                            <div class="goodPrice"></div>-->
<!--                            <div class="goodFoot"></div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="goodItem">-->
<!--                        &lt;!&ndash;This place should be linked to the good page&ndash;&gt;-->
<!--                        <a href="#" target="_blank">-->
<!--                            <div class="goodImg"></div>-->
<!--                            <div class="goodInfo"></div>-->
<!--                            <div class="goodPrice"></div>-->
<!--                            <div class="goodFoot"></div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="goodItem">-->
<!--                        &lt;!&ndash;This place should be linked to the good page&ndash;&gt;-->
<!--                        <a href="#" target="_blank">-->
<!--                            <div class="goodImg"></div>-->
<!--                            <div class="goodInfo"></div>-->
<!--                            <div class="goodPrice"></div>-->
<!--                            <div class="goodFoot"></div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="pageSwitch">-->
<!--                    <img class="pageDown" src="/img/pageSwitch.png" alt="pageDown">-->
<!--                    <img class="pageEnd" src="/img/pageEnd.png" alt="pageEnd">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </body>
    <script src="../static/js/jquery-3.6.1.js"></script>
    <script src="../static/js/index.js"></script>
</html>