<!DOCTYPE html>
<html lang="en">
<!--控制缩进-->
    <head>
        <meta charset="UTF-8">

        <!--设置页面标题-->
        <title>斯卡布罗集市</title>

        <!--使用Spring-boot内置URLHandler-->
        <!--使用./mvnw spring-boot:run命令运行后使用浏览器预览-->
        <link rel="stylesheet" type="text/css" href="../static/css/index.css">
        <link rel="stylesheet" type="text/css" href="../static/css/universal.css">
    </head>
    <body>

        <div class="headBar">
            <div class="logo">
                <img src="../static/img/logo.png"/>
            </div>
            <form class="searchBar">
                <input type="text" placeholder="翻翻集市里都有些什么叭~" onfocus="changeSearch(2)" onblur="changeSearch(3)"/>
                <img src="../static/img/searchIcon.png" onmouseover="changeSearch(0)" onmouseleave="changeSearch(1)"/>
            </form>
            <!--预留给附加功能-->
            <div class="settingBar">
                <ul style="">
                    <li><img src="../static/img/setting.png"/></li>
                    <li><img src="../static/img/music.png"/></li>
                    <li><img src="../static/img/link.png"/></li>
                </ul>
            </div>
            <div class="userBox" onmouseleave="avatorScaler('50px')">
                <div class="avator">
                    <img src="../static/img/defaultUser.png" onmouseover="avatorScaler('100px')">
                </div>
            </div>
            <!--预留给附加功能（如发布商品等）-->
            <div style="width: 280px; display: flex; align-content: center">
                <form style="height: 40px; width: 120px; margin: auto auto;">
                    <input type="button" value="上架商品" class="btn" style="background-color: deeppink; font-weight: bold;"/>
                </form>
            </div>
        </div>

        <div class="navBar">
            <div style="height: 70px"></div>
            <div class="optionBox" style="background-color: #00000024">
                <img src="../static/img/homeIcon.png"/>
                <span style="color: mediumpurple">主页</span>
            </div>
            <div class="optionBox">
                <img src="../static/img/discussIcon.png"/>
                <span>灌水</span>
            </div>
            <div class="optionBox">
                <img src="../static/img/helpIcon.png"/>
                <span>帮助</span>
            </div>
            <div class="optionBox">
                <img src="../static/img/fireIcon.png"/>
                <span>热门</span>
            </div>
        </div>

        <div class="container">
            <div class="carousel" onmouseover="loopStop()" onmouseleave="loopPlay()">
                <!--组图-->
                <ul class="loopList">
                    <li class="loopItem active"><a href=""></a></li>
                    <li class="loopItem next"><a href=""></a></li>
                    <li class="loopItem"><a href=""></a></li>
                    <li class="loopItem"><a href=""></a></li>
                    <li class="loopItem pre"><a href=""></a></li>
                </ul>
                <!--旋钮-->
                <div class="loopBut">
                    <div id="leftBtn"><img src="../static/img/leftArrow.png" onclick="leftSwitch()"></div>
                    <div id="rightBtn"><img src="../static/img/rightArrow.png" onclick="rightSwitch()"></div>
                </div>
                <!--计数器-->
                <ul class="pointList">
                    <li class="loopPoint active" data-index=0></li>
                    <li class="loopPoint" data-index=1></li>
                    <li class="loopPoint" data-index=2></li>
                    <li class="loopPoint" data-index=3></li>
                    <li class="loopPoint" data-index=4></li>
                </ul>
            </div>
        </div>
<!--        <div class="body">-->
<!--            <div class="col leftCol">-->
<!--                <ul class="leftList">-->
<!--                    &lt;!&ndash;This place should be linked to other pages&ndash;&gt;-->
<!--                    <li><a href="#" target="_blank"><img class="icon" src="/img/HomeIMG.png" alt="主页">主页</a></li>-->
<!--                    <li><a href="#" target="_blank"><img class="icon" src="/img/DiscussIMG.png" alt="灌水">灌水</a></li>-->
<!--                    <li><a href="#" target="_blank"><img class="icon" src="/img/CusServiceIMG.png" alt="客服">客服</a></li>-->
<!--                    <li><a href="#" target="_blank"><img class="icon" src="/img/HotIMG.png" alt="火爆">火爆</a></li>-->

<!--                </ul>-->
<!--                <button class="navButt" onclick="showNav()"><img src="/img/navImg.png" alt="Nav" width="50px" height="50px"></button>-->
<!--            </div>-->
<!--            <div class="col rightCol">-->
<!--                <div class="carousel">-->
<!--                    &lt;!&ndash;组图&ndash;&gt;-->
<!--                    <div class="loopPic">-->
<!--                        <ul class="loopList">-->
<!--                            <li class="loopItem active"><a href=""></a></li>-->
<!--                            <li class="loopItem"><a href=""></a></li>-->
<!--                            <li class="loopItem"><a href=""></a></li>-->
<!--                            <li class="loopItem"><a href=""></a></li>-->
<!--                            <li class="loopItem"><a href=""></a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;旋钮&ndash;&gt;-->
<!--                    <div class="loopBut loopLeftBut" id="leftBtn"><img src="/img/leftArrow.png" alt="左箭头" onclick="leftSwitch()"></div>-->
<!--                    <div class="loopBut loopRightBut" id="rightBtn"><img src="/img/rightArrow.png" alt="右箭头" onclick="rightSwitch()"></div>-->
<!--                    &lt;!&ndash;计数器&ndash;&gt;-->
<!--                    <ul class="pointList">-->
<!--                        <li class="loopPoint active" data-index=0></li>-->
<!--                        <li class="loopPoint" data-index=1></li>-->
<!--                        <li class="loopPoint" data-index=2></li>-->
<!--                        <li class="loopPoint" data-index=3></li>-->
<!--                        <li class="loopPoint" data-index=4></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--                <div class="category">-->
<!--                    <ul class="cateList">-->
<!--                        &lt;!&ndash;This place should be able to switch the goods below in goodsLayer according to the category click&ndash;&gt;-->
<!--                        <li class="cateItem"><img src="/img/category2.png" alt="分类1"><h3>分类1</h3></li>-->
<!--                        <li class="cateItem"><img src="/img/category3.png" alt="分类1"><h3>分类1</h3></li>-->
<!--                        <li class="cateItem"><img src="/img/category4.png" alt="分类1"><h3>分类1</h3></li>-->
<!--                        <li class="cateItem"><img src="/img/category2.png" alt="分类1"><h3>分类1</h3></li>-->
<!--                        <li class="cateItem"><img src="/img/category2.png" alt="分类1"><h3>分类1</h3></li>-->
<!--                        <li class="cateItem"><img src="/img/category2.png" alt="分类1"><h3>分类1</h3></li>-->
<!--                        <li class="cateItem"><img src="/img/category2.png" alt="分类1"><h3>分类1</h3></li>-->
<!--                        <li class="cateItem"><img src="/img/category2.png" alt="分类1"><h3>分类1</h3></li>-->
<!--                    </ul>-->
<!--                    <div class="cateBtn">-->
<!--                        <div class="leftCateBtn"><img src="/img/leftCate.png" alt="左箭头" onclick="cateLeftMove()"></div>-->
<!--                        <div class="rightCateBtn"><img src="/img/rightCate.png" alt="右箭头" onclick="cateRightMove()"></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="goodsLayer">-->
<!--                    &lt;!&ndash;good model&ndash;&gt;-->
<!--                    <div class="goodItem" onmouseover="goodItemChangeStatus(1)" onmouseleave="goodItemChangeStatus(0)">-->
<!--                        &lt;!&ndash;This place should be linked to the good page&ndash;&gt;-->
<!--                        <a class="goodLink" href="#" target="_blank">-->
<!--                            &lt;!&ndash;This place should invoke js to determine which url(which is also should be dragged from database with js) should be jumped into&ndash;&gt;-->
<!--                            <div class="goodImg">-->
<!--                                <img src="/img/login.jpg" alt="">-->
<!--                            </div>-->
<!--                            &lt;!&ndash;The rest of the info should be drag from database&ndash;&gt;-->
<!--                            <div class="goodName">Name</div>-->
<!--                            <div class="goodInfo">-->
<!--                                <ul class="goodInfoTags">-->
<!--                                    <li>tagOne</li>-->
<!--                                    <li>|</li>-->
<!--                                    <li>tagTwo</li>&lt;!&ndash;a doesn't support nesting&ndash;&gt;-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                            <div class="goodPrice">$ ?114?:-(</div>-->
<!--                            <div class="goodFoot">seller</div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="goodItem">-->
<!--                        &lt;!&ndash;This place should be linked to the good page&ndash;&gt;-->
<!--                        <a href="#" target="_blank">-->
<!--                            <div class="goodImg"></div>-->
<!--                            <div class="goodInfo"></div>-->
<!--                            <div class="goodPrice"></div>-->
<!--                            <div class="goodFoot"></div>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                    <div class="goodItem">-->
<!--                        &lt;!&ndash;This place should be linked to the good page&ndash;&gt;-->
<!--                        <a href="#" target="_blank">-->
<!--                            <div class="goodImg"></div>-->
<!--                            <div class="goodInfo"></div>-->
<!--                            <div class="goodPrice"></div>-->
<!--                            <div class="goodFoot"></div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="goodItem">-->
<!--                        &lt;!&ndash;This place should be linked to the good page&ndash;&gt;-->
<!--                        <a href="#" target="_blank">-->
<!--                            <div class="goodImg"></div>-->
<!--                            <div class="goodInfo"></div>-->
<!--                            <div class="goodPrice"></div>-->
<!--                            <div class="goodFoot"></div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="goodItem">-->
<!--                        &lt;!&ndash;This place should be linked to the good page&ndash;&gt;-->
<!--                        <a href="#" target="_blank">-->
<!--                            <div class="goodImg"></div>-->
<!--                            <div class="goodInfo"></div>-->
<!--                            <div class="goodPrice"></div>-->
<!--                            <div class="goodFoot"></div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="goodItem">-->
<!--                        &lt;!&ndash;This place should be linked to the good page&ndash;&gt;-->
<!--                        <a href="#" target="_blank">-->
<!--                            <div class="goodImg"></div>-->
<!--                            <div class="goodInfo"></div>-->
<!--                            <div class="goodPrice"></div>-->
<!--                            <div class="goodFoot"></div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="pageSwitch">-->
<!--                    <img class="pageDown" src="/img/pageSwitch.png" alt="pageDown">-->
<!--                    <img class="pageEnd" src="/img/pageEnd.png" alt="pageEnd">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <script src="../static/js/jquery-3.6.1.js"></script>
        <script src="../static/js/index.js"></script>
    </body>
</html>