<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>是居民信息登记中心捏~</title>
    <link rel="stylesheet" type="text/css" href="/css/universal.css">
    <link rel="stylesheet" type="text/css" href="/css/usercenter.css">
</head>
<body>
    <div class="headBar">
        <div class="logo" onclick="jumpLocation('/index')">
            <img src="/img/logo.png"/>
        </div>
        <form class="searchBar">
            <input type="text" placeholder="翻翻集市里都有些什么叭~" onfocus="changeSearch(2)" onblur="changeSearch(3)"/>
            <img src="/img/searchIcon.png" onmouseover="changeSearch(0)" onmouseleave="changeSearch(1)"/>
        </form>
        <!--预留给附加功能-->
        <div class="settingBar">
            <ul>
                <li onclick="jumpLocation('/usercenter')"><img src="/img/setting.png"/></li>
                <li><a href="https://github.com/KYCoraxxx/NJU-SE-Internet-Computation-Project" target="_blank"><img src="/img/link.png"/></a><li>
                <li onclick="changeMusic()"><img src="/img/music.png"/></li>
            </ul>
        </div>
        <div class="userBox" onmouseleave="avatorScaler('50px')">
            <div class="avator">
                <img src="/img/defaultUser.png" onmouseover="avatorScaler('100px')">
            </div>
        </div>
        <!--预留给附加功能（如发布商品等）-->
        <div style="width: 280px; display: flex; align-content: center">
            <form style="height: 40px; width: 120px; margin: auto auto;">
                <input type="button" value="上架商品" class="btn" style="background-color: deeppink; font-weight: bold;"/>
            </form>
        </div>
    </div>

    <div class="navBar">
        <div style="height: 70px"></div>
        <div class="optionBox" onclick="jumpLocation('/index')">
            <img src="/img/homeIcon.png"/>
            <span>主页</span>
        </div>
        <div class="optionBox" onclick="jumpLocation('/forum')">
            <img src="/img/discussIcon.png"/>
            <span>灌水</span>
        </div>
        <div class="optionBox">
            <img src="/img/helpIcon.png"/>
            <span>帮助</span>
        </div>
        <div class="optionBox">
            <img src="/img/fireIcon.png"/>
            <span>热门</span>
        </div>
    </div>

    <div class="container">
        <!--更换请求url-->
        <form>
            <div style="display: flex; flex-direction: row">
                <div class="avatorBox">
                    <img id="avator" src="/img/defaultUser.png"/>
                    <div class="btn" style="background-color: deeppink; font-weight: bold;">
                        上传头像
                        <input id="upl_avator" type="file" style="opacity: 0; cursor: pointer" onchange="displayNewAvator(this)" name="avator"/>
                    </div>
                </div>
                <div id="infoBox">
                    <div>
                        <label style="padding: 0 2em 0 2em">昵称:</label>
                        <input type="text" class="title" name="nickname"/>
                    </div>
                    <div>
                        <label style="padding: 0 2em 0 0">我的签名:</label>
                        <textarea class="multitext" name="saying"></textarea>
                    </div>
                </div>
            </div>
            <button class="btn" style="font-weight: bold;margin: auto auto" onclick="uploadUserInfo()">保存更改</button>
        </form>
    </div>
    <script src="/js/jquery-3.6.1.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="/js/universal.js"></script>
    <script src="/js/usercenter.js"></script>
</body>
</html>